<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer>
        <div class="container" style="background-color: rgb(206, 202, 202);min-width: 100rem;height: 35rem;">
            <h1 style="margin-left: 8rem;color: #005db9;padding-top: 5rem;">Business Engineering Rodriguez Lopez</h1>
            <p></p>
            <br>
            <div class="d-flex justify-content-center justify-content-evenly" style="margin-left: -10rem;letter-spacing: 1px;padding-top: 2rem;">
                <h5>Legal</h5>
                <h5>Resources</h5>
                <h5>Projects</h5>
                <h5>About</h5>
            </div>
            <div class="d-flex justify-content-center justify-content-evenly" style="line-height: 30px;margin-left: -10rem;font-size: 17px;font-family: 'Varela Round',sans-serif;letter-spacing: 1px;">
                <ul style="list-style-type:none;margin-left: -1rem;">
                    <li><a href="" class="link">Imprint</a></li>
                    <li><a href="" class="link"> Data protection</a></li>
                </ul>
                
                    <ul style="list-style-type:none;margin-left: -6rem;">
                      
                      <li><a href="" class="link">Instructions</a></li>
                      <li><a href="" class="link">Books</a></li>
                      <li><a href="" class="link">Tools</a></li>
                      <li><a href="" class="link">Blog</a></li>
                      
                      
                    </ul>
                   
                    <ul style="list-style-type:none;">
                      <li><a href="" class="link">Rüedu</a></li>
                    </ul>
                   
                    <ul style="list-style-type:none;">
                      <li><a href="" class="link">Home</a></li>
                      <li><a href="" class="link">My Story</a></li>
                      <li><a href="" class="link">Offer</a></li>
                    </ul>
                </div>
            <hr width="75%" style="margin-left: 10rem;margin-top:4rem;height: 2px;color: black;">
          <h5><a href="" class="spl">Clone this website:<img src="https://uploads-ssl.webflow.com/5f462e7e10bd5230e0efba83/5fda21cd59d2d7e62e9d242c_webflow-logo-blue.svg"alt="" height="30px"></a></h5>
        </div>
    </footer>
    
</body>
</html>
