<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="five.component.css">
</head>
<body>
    <nav class="navbar navbar-light bg-light fixed-top my-nav1">
        <div class="container-fluid">
          <span class="navbar-text">
            <div class="nav-1">
                <h6 class="dark" id="About">About</h6>
            <br>
            <h2 class="blue">
                What has Happened so Far</h2>
            </div>
            </span>
        </div>
      </nav>

      <div class = "bg-image">
          

      </div>
      <div class="contents">
        <div class="block-container">
            <div class="block-wrapper">
                <blockquote>
                    A Digitalizer, formed in Bern and Zurich  
                </blockquote>
            </div>
        </div>
        <div class="content-wrapper">
          <div class="container">
              <div class="hero-text">
                  <p class="para" style="padding-top: 5px;">The more complex, hopeless and confusing the situation, the more exciting the story and the more fulfilling the outcome.  

                    That's not a quote, that's by me, it's my attitude.</p>
                  <div class="align">
                      <a href="" class="link">My Story</a>
                    </div> 
              </div>
                    
              
          </div>
        </div>
        
      </div>
      
    

</body>
</html>



