<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="four.component.css">
</head>
<body>
    <nav class="navbar navbar-light bg-light fixed-top my-nav1">
        <div class="container-fluid">
          <span class="navbar-text">
            <div class="nav-1">
                <h6 class="dark" id="CaseStudy">The Practice</h6>
            <br>
            <h2 class="blue">
                Case Study Rüedu</h2>
            </div>
            </span>
        </div>
      </nav>

      <div class = "bg-image">
          

      </div>
      <div class="contents">
        <div class="block-container">
            <div class="block-wrapper">
                <blockquote>
                    Fresh and local food just around the corner, 7 × 24. Today's consumers want to get fresh food at reasonable prices at any place around the clock. Until now, this was only possible in railway stations or petrol station shops.  
                </blockquote>
            </div>
        </div>
        <div class="content-wrapper">
          <div class="container">
              <div class="hero-text">
                  <p class="para" style="padding-top: 5px;">Fresh and local food is offered in 18 square metre wooden containers in the neighbourhood. With an app, customers have access around the clock. A self-check-out cash desk enables uncomplicated self-service. The systems are in the cloud and connected via a VPN. This reduces friction losses in the process chain to an absolute minimum. The customer can percieve this in the low prices.</p>
                  <div class="align">
                      <a href="" class="link">How Rüedu Became Digital</a>
                    </div> 
              </div>
                    
              
          </div>
        </div>
        
      </div>
      
    

</body>
</html>


