<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="app.component.css">
</head>
<body>
  <nav class="navbar navbar-light  fixed-top" style="background-color: #f5f5f5;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" class="my-nav">EN</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <button type="button" class="btn-close text-reset btn-lg my-btn"  data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class=" container offcanvas-body" >
          <div  class=" d-flex justify-content-center justify-content-evenly" style="color: #005db9;">
            <h2>Resources</h2>
            <h2>Projects</h2>
            <h2>About</h2>
          </div>
          <div class="d-flex justify-content-center justify-content-evenly" style="line-height: 45px;">
            <ul style="list-style-type:none;">
              
              <li><a href="" class="link">Instructions</a></li>
              <li><a href="" class="link">Books</a></li>
              <li><a href="" class="link">Tools</a></li>
              <li><a href="" class="link">Blog</a></li>
              
              
            </ul>
           
            <ul style="list-style-type:none;">
              <li><a href="" class="link">Rüedu</a></li>
            </ul>
           
            <ul style="list-style-type:none;">
              <li><a href="" class="link">Home</a></li>
              <li><a href="" class="link">My Story</a></li>
              <li><a href="" class="link">Offer</a></li>
            </ul>
          </div>
          
         <p></p>
         <p></p>
          
         <hr width="75%" style="margin-left: 10rem;margin-top: 10rem; height: 2px;color: black;">
          <h5><a href="" class="spl">created in <img src="https://uploads-ssl.webflow.com/5f462e7e10bd5230e0efba83/5fda21cd59d2d7e62e9d242c_webflow-logo-blue.svg"alt="" height="30px"></a></h5>
        </div>
      </div>
    </div>
  </nav>
  
</body>
</html>

<app-one></app-one>

<app-two class="apptwo"></app-two>

<app-three class="appthree"></app-three>

<app-four class="appfour"></app-four>

<app-five class="appfive"></app-five>

<app-footer class="appfooter"></app-footer>
<router-outlet></router-outlet>




