<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="three.component.css">
</head>
<body>
    <nav class="navbar navbar-light bg-light fixed-top my-nav1">
        <div class="container-fluid">
          <span class="navbar-text">
            <div class="nav-1">
                <h6 class="dark" id="Offer">Offer</h6>
            <br>
            <h2 class="blue">
                The Areas of Application of a Business Engineer</h2>
            </div>
            </span>
        </div>
      </nav>

      <div class = "bg-image">
          

      </div>
      <div class="contents">
        <div class="block-container">
            <div class="block-wrapper">
                <blockquote>
                    Business Engineering brings together business and technical knowledge and combines it with all aspects of transformation.<br> The business engineer is a tech job with a future.
                </blockquote>
            </div>
        </div>
        <div class="content-wrapper">
          <div class="container">
              <div class="hero-text">
                  <p class="para" style="padding-top: 5px;">When transforming a company into the digital age, challenges arise at all levels of design. From the digital strategy to the conception and specification to the selection of the appropriate systems; the business engineer takes responsibility for these steps.</p>
                  <div class="align">
                      <a href="" class="link">Deliverables</a>
                    </div> 
              </div>
                    
              
          </div>
        </div>
        
      </div>
      
    

</body>
</html>

