<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="two.component.css">
</head>
<body>
    <nav class="navbar navbar-light bg-light fixed-top my-nav1">
        <div class="container-fluid">
          <span class="navbar-text">
            <div class="nav-1">
                <h6 class="dark" id="Resources">Resources</h6>
            <br>
            <h2 class="blue">My Approach to Business Digitalization</h2>
            </div>
            </span>
        </div>
      </nav>

      <div class = "bg-image">
          

      </div>
      <div class="contents">
        <div class="block-container">
            <div class="block-wrapper">
                <blockquote>
                  In 1918, every second car in the USA was a Ford Model T. Ford had neither invented the car nor was Ford early to the market. Ford had the best business model; industrialization made cars for the middle class possible.
                </blockquote>
                <blockquote class="block-quote">
                    from
                    <a href="https://amzn.to/3v2J5jx" style="color: white;"> Technological Revolutions and Financial Capital</a>
                </blockquote>
            </div>
        </div>
        <div class="content-wrapper">
          <div class="container">
              <div class="hero-text">
                  <p class="para" style="padding-top: 5px;">A structured approach separates the amateur from the professional</p>
                  <div class="align">
                      <a href="" class="link">This Is How You Digitalize Businesses!</a>
                      <br>
                     <a href="" class="link">Further instructions</a>
                    </div> 
              </div>
                      <div class="hero-text">
                        <p class="para">My approach emerged from this small selection of books.</p>
                        <div class="align">
                            
                            <a href=""  class="link">The Books for Digitalization</a>
                            
                        </div>
                    </div>
                    <div class="hero-text">
                        <p class="para">These tools are my helpers in the digitisation process.</p>
                        <div class="align">
                            <a href=""  class="link">The Tools For Digitalization</a>
                            
                        </div>
                    </div>
                    <div class="hero-text">
                        <p class="para">I deal with some topics separately.</p>
                        <div class="align">
                            <a href=""  class="link">The Blog for Digitalization</a>
                            
                        </div>
                    </div>
                    
              
          </div>
        </div>
        
      </div>
      
    

</body>
</html>
