<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="one.component.css">
</head>
<body>
    <div class="heading">
        <h6 class="javier">Javier Rodriguez</h6>
        <span class="business">I digitalize Businesses</span>
    </div>

    <div class="hero-intro left">
        <p>
            Make your company fit for the fourth industrial revolution. Use digital solutions that fit perfectly into your business model. Read how I do it. 
        <br>
        Over the last 20 years, I have been responsible for the implementation of several IT projects at all business levels, both internationally and nationally. &nbsp;
        </p>
        <div class="flex">
            <div>
                <a href="#Resources" class="link">My resources:</a>
                procedures, guides, books, tools.
            </div>
            <div>
                <a href="#CaseStudy" class="link">Case studiess:</a>
                exemplary projects from my work.
            </div>
            <div>
                <a href="#Offer" class="link">My offer:</a>
                this is how I can support you.
            </div>
            <div>
                You will find
                <a href="#About" class="link">a short story about me </a>
                at the bottom.
            </div>
            <div class="logo">
                <a href="https://www.linkedin.com/in/business-engineer-javier-rodriguez"><img src="https://uploads-ssl.webflow.com/5f462e7e10bd5230e0efba83/5fda1e289915e0853f773d14_LI-In-Bug.png" alt="" width="50px" height="40px"></a>
                <a href="https://twitter.com/jr_digitalizes" ><img src="https://uploads-ssl.webflow.com/5f462e7e10bd5230e0efba83/605b678753fde0aec056bfe1_Logo%20blue.svg" alt="" width="50px" height="40px" style="padding-left: 1rem;"></a>
            </div>

        </div>
        
    </div>
    <div class="right container">
        <img src="https://uploads-ssl.webflow.com/5f462e7e10bd5230e0efba83/5f747b13e0fe7e74d49cb16e_javi3.svg" alt="">
    </div>

    
</body>
</html>
